NYX_MODEL_PATH=/opt/nyx-model
NYX_SGLANG_URL=http://127.0.0.1:30000
NYX_BACKEND_MODEL_PATH=/model
NYX_API_KEY_FILE=/etc/nyx/api-key
NYX_HOST=127.0.0.1
NYX_PORT=8000
NYX_ASYNC_HTTP_TRANSPORT=aiohttp
NYX_HOSTED_MAX_PROMPT_TOKENS=262143
NYX_HOSTED_MAX_INFLIGHT=8
NYX_HOSTED_MAX_WAITING=32
NYX_HOSTED_QUEUE_SIZE=128
NYX_HOSTED_WORKERS=64
NYX_HOSTED_REQUESTS_PER_MINUTE=120
NYX_SGLANG_CONCURRENCY=64
NYX_SGLANG_BULK_CONCURRENCY=8
NYX_WARM_PREFIX=auto
NYX_CONTEXT_ACCOUNTING=shared
NYX_MAX_QUESTIONS=0
